@charset "UTF-8";


        body{
            background-color: brown; font-size: 20px;font-family: Arial, Helvetica, sans-serif;
        }

        h1{
            background-color: chartreuse; color: mediumvioletred;
        }

        h2{
            background-color: darksalmon;
            color: brown;
        }

        p{
            text-align: justify;
        }
        a{
            color: darkgreen;
        }
    